<ul class="list p-reset">
  <ng-container
    [ngTemplateOutlet]="icon"
    [ngTemplateOutletContext]="{ condition: 'minlength' }"
  ></ng-container>

  <ng-container
    [ngTemplateOutlet]="icon"
    [ngTemplateOutletContext]="{ condition: 'uppercase' }"
  ></ng-container>

  <ng-container
    [ngTemplateOutlet]="icon"
    [ngTemplateOutletContext]="{ condition: 'number' }"
  ></ng-container>
</ul>

<ng-template #icon let-condition="condition">
  <li class="list__item" [class]="control().errors?.['password']?.[condition] ? 'text-red-500' : 'text-green-500'">
    <i [class]="control().errors?.['password']?.[condition] ? 'pi pi-times' : 'pi pi-check'" class="list__icon"></i>
    <span>{{ 'error.password.' + condition | translate }}</span>
  </li>
</ng-template>

