:host {
  .list {
    padding-left: var(--spacing-sm);

    &__item {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      gap: var(--spacing-md);

      &:not(:last-child) {
        margin-bottom: var(--spacing-sm );
      }
    }
  }
}
