<ul class="list p-reset">
  <li class="list__item">
    <ng-container
      [ngTemplateOutlet]="icon"
      [ngTemplateOutletContext]="{ condition: 'minlength' }"
    ></ng-container>
  </li>
  <li class="list__item">
    <ng-container
      [ngTemplateOutlet]="icon"
      [ngTemplateOutletContext]="{ condition: 'uppercase' }"
    ></ng-container>
  </li>
  <li class="list__item">
    <ng-container
      [ngTemplateOutlet]="icon"
      [ngTemplateOutletContext]="{ condition: 'number' }"
    ></ng-container>
  </li>
</ul>

<ng-template #icon let-condition="condition">
  <i [class]="control().errors?.['password']?.[condition] ? 'pi pi-times' : 'pi pi-check'"></i>
  <span>{{ 'error.password.' + condition | translate }}</span>
</ng-template>

