:host {
  .header {
    background-color: var(--surface-card);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-md);
    gap: var(--spacing-md);
    border: 1px solid var(--surface-border);

    &__actions {
      display: flex;
      gap: var(--spacing-md);
    }

    &__auth {
      display: flex;
      align-items: center;
      gap: var(--spacing-md);
    }
  }
}
