:host {
  .header {
    background-color: var(--surface-card);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-md);
    gap: var(--spacing-md);
    border: 1px solid var(--surface-border);
  }

  .nav {
    display: flex;
    gap: var(--spacing-md);
  }
}
